body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,#96F16F,#00BAFF);
    background-size: 600px auto;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
.container
{
    border: 2px solid black;
    margin: 60px;
    width: auto;
    height: 100%;
    background-color: white;
}
.navbar
{
  text-align: right;
  position: absolute;
  right: 0;
  top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  color:#000E8A;
  }

  li {
  color: #000E8A;
  font-size: 20px;
  padding: 10px;
  margin-right: 4px;
  display: inline-block;
  }

  li a {
  display: block;
  color:#000E8A;
  text-align: center;
  text-decoration: none;
  }
  li a:hover {
  color: red;
  } 
.frame
{
    margin: 30px;
    padding: 20px;
    text-align: justify;
}

h1
{
    text-align: center;
    padding: 6px;
}
