<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
  <title>IEEE Conference</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  <link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/ieee-conference-607a3.appspot.com/o/Websitelogo.jpg?alt=media&token=c58e6043-1ce3-439d-8933-2c6ded6aec9b"/>

  <!-- <link rel="stylesheet" th:href="@{/css/styleHome.css}"> -->
</head>

<body>
<!-- NAVBAR  -->
<nav class="navbar navbar-expand-lg navbar-light shadow p-2 mb-4 bg-white rounded">
    <div class="container">
      <img src="https://firebasestorage.googleapis.com/v0/b/ieee-conference-607a3.appspot.com/o/Websitelogo.jpg?alt=media&token=c58e6043-1ce3-439d-8933-2c6ded6aec9b" class="border border-light" width="60px" height="60px">
      <h2 style="color: #000E8A;">ICCCCM 2024</h2>
    </div>
</nav>


<div class="container">


   <div class="card text-center align-items-center justify-content-center  mt-5" >

    <div class="card-header h5 text-white bg-primary mb-2">Password Reset</div>
        <div  th:if="${session.message}" th:classappend="${session.message.type} " class="alert">
        <!--                      It will display the message -->
        <p class="text-center "th:text="${session.message.content}"></p>
        <!--                      It will remove the message-->
        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
    </div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        
        <form id="login-form" class="form" th:action="@{/sendOTP}" method="post">
        <div class="form-outline">
            <input type="email" name="email" id="typeEmail" class="form-control my-3" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        <div class="d-flex justify-content-between mt-4">
             <a class="nav-link"  th:href="@{/login/}">Login</a>
             <a class="nav-link"  th:href="@{/signup/}">Register</a>
        </div>
        </form>
        
    </div>
</div>
</div>